src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sampleprojectFlow" doc:id="cbc07bf0-321b-45e2-8461-3e67a819d1dd" >
		<scheduler doc:name="Scheduler" doc:id="23c2ec82-9f8c-4e9b-9592-a522ebfff95c">
			<scheduling-strategy>
				<fixed-frequency frequency="3" timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<set-payload doc:name="Set Payload" doc:id="6d3dc3a0-f625-4dd3-acfd-eee4b9c6585b" value="#['Hello World']"/>
		<logger level="INFO" doc:name="Logger" doc:id="1ad2bc99-8c56-46dd-86d2-20a14dfcc872" message="#[payload]"/>
	</flow>
	
	
</mule>
